












<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Details Of Requested Chocolates</h2>

  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>discription</th>
          <th>manufacturer</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>{{ object.name }}</td>
        <td>{{ object.description}}</td>
          <td>{{object.manufacturer}}</td>
        <td>{{object.price}}</td>
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>













